@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css);

// Max width for section contents
$module_max_width = 980px;

* { box-sizing: border-box }

html,body {
	font-size: 20px
	margin: 0;
	padding: 0;
	
	@media (max-width: ($module_max_width / 1.5)) {
		font-size: 18px;
	}
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

.generic.row {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	padding: 2.25em 1em;
	position: relative;
	text-align: center;
	width: 100%;
	
	h1,h2,h3,h4,h5 {
		font-weight: normal;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	h3 {
		letter-spacing: .4em;
		margin-bottom: 2.25em;
		padding: 0 1em;
		text-indent: (@letter-spacing / 2);
		
		br {
			display: none;
			
			@media (max-width: 500px) {
				display: block;
			}	
		}
	}
	
	h4 {
		font-size: 70%;
		margin-top: .5em;
		opacity: 0.8;
	}
	
	.container {
		margin: 0 auto;
		max-width: $module_max_width;
	}
	
	// Inline cube ad
	.cube-ad {
		float: right;
		margin: 0 0 1.5em 1em;
		overflow: visible;
		position: relative;
		
		&:after {
			bottom: -.5em;
			color: #fff;
			content: 'ADVERTISEMENT';
			display: block;
			font-size: 8px;
			letter-spacing: 0.1em;
			opacity: 0.4;
			position: relative;
			right: 0;
			text-align: right;
			text-indent: (@letter-spacing / 2);
		}
		
		@media (max-width: ($module_max_width + 1)) {
			float: none;
			margin: 0 auto 20px;
			
			&:after {
				text-align: center;
			}
		}
	}
}

@import 'header.styl';
@import 'intro.styl';
@import 'video.styl';
@import 'gallery.styl';
@import 'nominees.styl';
@import 'outro.styl';
