.row.header {
	padding: 1.75em 1em;

	.logo,.tunein {
		display: block;
		margin: 0 auto;
		width: 60%;
		
		@media (max-width: ($module_max_width/1.5)) {
			width: 90%;
		}
	}
	.sponsor {
		display: block;
		margin: 1.5em auto 0;
		max-width: 40%;
		width: 200px;
	}
}