.row.intro {
	
	padding: 1.5em;
	
	h2, h3 {
		font-size: 1em;
		letter-spacing: 0.5em;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
		
		@media (max-width: ($module_max_width+1)) {
			font-size: 0.8em;
		}
	}

}