.row.nominees {

	font-size: 1rem;

	h2,h3,h4,h5,h6 {
		font-size: 1em;
		line-height: 1;
	}
	
	h3 {
		font-size: 0.9em;
	}

	ul {
		margin: 0 auto;
		max-width: $module_max_width
		padding: 0;
	}
	
	li:not(.cube) {
		display: inline-block;
		letter-spacing: 0.05em;
		padding: 0 7px 10px;
		text-indent: (@letter-spacing/2);
		text-transform: uppercase;
		vertical-align: top;
		width: 100%;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		img {
			display: block;
			margin: 0 auto .5em;
			max-width: 100%;
			min-height: 30px;
		}
		
		small {
			font-size: 60%;
		}
		
		@media (max-width: ($module_max_width/2-10)) {
			max-width: 160px;
			margin: 0 5px 10px;
		}
		
	}
	
	.artist {
		letter-spacing: 0.1em;
		margin-top: 5px;
		
		em {
			font-size: 0.8em;
			font-style: normal;
		}
	}
	
	&.column1 {
		font-size: 1.2em;
		li:not(.cube-ad) {
			display: block;
			letter-spacing: .25em;
			margin: 0 auto 1.5em;
			max-width: 100%;
			width: auto;
		}
	}
	
	&.column2 {
		font-size: 1.2em;
		
		li:not(.cube-ad) {
			margin: 0 auto 1.5em;
			max-width: 50%;
			padding: 0 9px;
			width: calc(100% / 2.1);
			
			@media (max-width: ($module_max_width/2+20)) {
				display: block;
				max-width: 100%;
			}
		}
	}
	
	&.column3 {
		li:not(.cube-ad) {
			letter-spacing: 0.15em;
			margin: 0 auto .8em;
			max-width: 100%;
			padding: 0 9px;
			width: calc(100% / 3.1);
			
			@media (max-width: ($module_max_width/2+20)) {
				display: block;
				width: 100%;
			}
		}
	}
	
	&.column5 {
		li:not(.cube-ad) {
			max-width: 100%;
			padding: 0 1em 1em;
			width: calc(100% / 5.1);
			
			@media (max-width: ($module_max_width/1.2+20)) {
				width: calc(100% / 3.1);
			}
			@media (max-width: ($module_max_width/1.75+20)) {
				font-size: 0.8em;
				width: calc(100% / 2.1);
			}
		}
	}
	
	&.lowtier {
		
		h3 {
			font-size: 0.8em;
			margin-bottom: 1.5em;
			letter-spacing: 0.24em;
		}
		
		.column {
			display: inline-block;
			max-width: 100%;
			padding: 0 1em 1em;
			vertical-align: top;
			width: calc(100% / 2.1)
			
			@media (max-width: ($module_max_width/2+20)) {
				display: block;
				width: 100%;
			}
		}
		
		li {
			display: block;
			letter-spacing: 0.1em;
			line-height: 0.96;
			margin: 0;
			margin-bottom: 1em;
			text-align: center;
		}
	}
}