.row.video {
	background: #000;
	
	.video-container-max {
		margin: 0 auto;
		max-width: $module_max_width;
	}
	
	.video-container {
		height: 0;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		width: 100%;
		
		iframe,object,embed {
			border: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	&.with_cube {		
		.video-container {
			display: inline-block;
			padding-bottom: 38.25%;
			vertical-align: top;
			width: calc(100% - 320px);
		}

		.cube-ad {
			display: inline-block;
			margin: 0 0 0 15px;
			position: relative;
			vertical-align: top;
			
			&:after {
				bottom: -1.5em;
				position: absolute;
			}
		}
		
		@media (max-width: ($module_max_width - 200)) {
			.cube-ad {
				display: block;
				margin-left: 0;
				margin-bottom: 20px;
			}
		}
	}
}