@import 'nib';

// Max width for section contents
$module_max_width = 980px;

.themify_builder_turn_on {
	display: none !important;
}

body .wrapper-content {
	
	.column,
	.row,
	.column > *,
	.module-title,
	.themify_builder_row .widgettitle,
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.hideme {
		display: none !important;
	}
	
	&,
	.grid-container,
	/.CMLS_CCC,
	/.CMLS_CCC > div,
	/.CMLS_CCC > article,
	.entry-content,
	.themify_builder_row {
		border: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
		width: 100% !important;
	}
}

/.CMLS_CCC {

	/body .wrapper-content .CMLS_CCC {
		display: block !important;
	}
	
	&, * {
		box-sizing: border-box !important;
		line-height: 1 !important;
	}

	// Remove extra space under contest iframe
	iframe[src*="digitalivy.com"] {
		display: inherit;
	}

	.entry-content {
		margin: 0 !important;
	}
	
	ol,ul,li {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-family: inherit !important;
		font-size: 100% !important;
		font-weight: inherit !important;
		letter-spacing: .8em !important;
		line-height: 1.1 !important;
		margin: 0 !important;
		padding: 0 !important;
		text-indent: (@letter-spacing/2) !important;
		text-transform: uppercase !important;
		
		@media (max-width: ($module_max_width/1.5)) {
			letter-spacing: (@letter-spacing/2) !important;
			text-indent: (@letter-spacing/2) !important;
		}
		
		@media (max-width: ($module_max_width/2)) {
			letter-spacing: (@letter-spacing/2.5) !important;
			text-indent: (@letter-spacing/2.5) !important;
		}
	}
	strong {
		color: inherit !important;
		font-weight: bold !important;
	}
	em {
		font-style: italic !important;
	}
	a {
		color: inherit !important;
		text-decoration: none !important;
	}
	
	// Generic row
	.caf-row {
		background-color: #eee;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		overflow: hidden;
		padding: 35px 15px !important;
		padding: 6vh 5vw !important;
		position: relative;
		text-align: center;
		width: 100%;
		
		// Row header
		h2 {
			letter-spacing: .25em !important;
			margin-bottom: 30px !important;
			margin-bottom: 5vh !important;
			padding: 0 1em !important;
			text-indent: (@letter-spacing/2) !important;
		}
		
		// Sub-heading
		h3 {
			font-size: 70% !important;
			margin-top: .5em !important;
			opacity: 0.8;
		}
		
		// Inline cube ad
		.caf-cube {
			background: #aaa;
			float: right;
			height: 250px;
			margin: 0 0 1em 1em;
			overflow: visible;
			position: relative;
			width: 300px;
			max-width: 300px;
			
			&:after {
				bottom: -12px;
				color: #fff;
				content: 'ADVERTISEMENT';
				display: block;
				font-size: 8px;
				letter-spacing: 0.1em;
				opacity: .4;
				position: absolute;
				right: 0;
				text-align: right;
			}
			
			@media (max-width: ($module_max_width+1)) {
				float: none;
				margin: 0 auto 20px !important;
			}
		}
	}

	@import 'header.styl';
	@import 'intro.styl';
	@import 'video.styl';
	@import 'gallery.styl';
	@import 'nominees.styl';
	@import 'outro.styl';

}