@import 'nib'

// Max width for all section contents
$module_max_width = 970px;

body .wrapper-content {
	// Remove any other content from the page
	.column,
	.row,
	.column > *,
	/.themify_builder_turn_on{
		display: none !important;
	}
	.CMLS_FEATURE_CONTENT {
		display: block !important;
	}

	// Expand content area to fill page
	&,
	.grid-container,
	.column,
	.entry-content,
	.themify_builder_row,
	.CMLS_FEATURE_CONTENT,
	.CMLS_FEATURE_CONTENT > div,
	.CMLS_FEATURE_CONTENT article {
		border: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
		width: 100% !important;
	}
}

.CMLS_FEATURE_CONTENT {
	line-height: 1 !important;
	
	// Remove title, meta, thumbnails, comments
	.hideme,
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	#nav-below,
	.module-title,
	.themify_builder_row .widgettitle {
		display: none !important;
	}
	
	// Reset generic elements
	* { box-sizing: border-box; }
	ol,ul,li {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: inherit !important;
		font-size: 100% !important;
		font-weight: inherit !important;
		letter-spacing: .8em !important;
		line-height: 1.1 !important;
		margin: 0 !important;
		padding: 0 !important;
		text-indent: (@letter-spacing/2) !important;
		text-transform: uppercase !important;
		
		@media (max-width: ($module_max_width/1.5)) {
			letter-spacing: (@letter-spacing/2) !important;
			text-indent: (@letter-spacing/2) !important;
		}
		@media (max-width: ($module_max_width/2)) {
			letter-spacing: (@letter-spacing/2.5) !important;
			text-indent: (@letter-spacing/2.5) !important;
		}
	}
	strong {
		color: inherit !important;
		font-weight: bold !important;
	}
	em {
		font-style: italic !important;
	}
	a {
		color: inherit !important;
		text-decoration: none !important;
	}
	
	// Generic row
	.caf-row {
		background-color: #eee;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		line-height: 1;
		margin: 0;
		overflow: hidden;
		padding: 35px 15px;
		padding: 6vh 5vw;
		position: relative;
		text-align: center;
		width: 100%;
	}
	
	// Generic row header
	.caf-row-header {
		letter-spacing: 0.25em !important;
		margin-bottom: 30px !important;
		margin-bottom: 5vh !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
		text-indent: (@letter-spacing/2) !important;
		
		// Sub-head
		small {
			display: block;
			font-size: 70%;
			margin-top: .5em;
			opacity: 0.8;
		}
	}
	
	// Inline cube ad
	.caf-cube {
		background: #aaa;
		float: right !important;
		height: 250px !important;
		margin: 0 0 1em 1em !important;
		overflow: visible !important;
		position: relative !important;
		width: 300px !important;
		max-width: 300px !important;
		
		&:after {
			bottom: -12px;
			color: #fff;
			content: 'ADVERTISEMENT';
			display: block;
			font-size: 9px;
			letter-spacing: 0.1em;
			opacity: 0.4;
			position: absolute;
			right: 0;
			text-align: right;
		}
		
		@media (max-width: ($module_max_width+1)) {
			display: block !important;
			float: none !important;
			margin: 0 auto 20px !important;
		}
	}
	
	// Import row styles
	@import 'header.styl'
	@import 'intro.styl'
	@import 'video.styl'
	@import 'gallery.styl'
	@import 'nominees.styl'
	@import 'outro.styl'
}
