html,body {
	background: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

#wpadminbar,
.module-gallery { display: none !important; }

.whitewrap { float: none !important; }
.entry-content, 
article {
	margin: 0 !important;
	padding: 0 !important;
}

.block { min-height: 0 !important; }

.cmls-gallery {
	background: transparent;
	
	.cmls-gallery-item {
		background: #000;
		opacity: 0.3;
		outline: 0 !important;
		position: relative;
		transition: opacity 0.5s;
		
		& > img {
			margin: 0 auto;
		}
		img[data-lazy] {
			display: none;
		}
	}
	
	.cmls-gallery-caption {
		background: #000;
		background: rgba(0,0,0,0.5);
		bottom: 0;
		color: #fff;
		font-family: sans-serif;
		font-size: 14px;
		left: 0;
		line-height: 1.24;
		opacity: 0;
		padding: .25em .5em;
		position: absolute;
		text-shadow: 1px 1px 1px #000;
		transition: opacity 1s;
	}
	
	.slick-current,
	.slick-current .cmls-gallery-caption { opacity: 1; }
}