.caf-nominees {
	background-color: #DDD;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	
	h2, h3, h4, h5, h6 {
		font-size: 18px !important;
		line-height: 1 !important;
		text-transform: uppercase !important;
	}

	ul {
		margin: 0 auto !important;
		max-width: $module_max_width !important;
	}
	li {
		display: inline-block !important;
		font-size: 18px !important;
		letter-spacing: 0.15em !important;
		margin: 0 7px 10px !important;
		text-indent: (@letter-spacing/2) !important;
		text-transform: uppercase !important;
		vertical-align: top !important;
		width: 180px !important;

		&:first-child {
			margin-left: 0 !important;
		}
		
		&:last-child {
			margin-right: 0 !important;
		}
		img {
			display: block !important;
			margin-bottom: 10px !important;
			max-width: 100% !important;
		}
		small {
			font-size: 60% !important;
		}
		
		@media (max-width: 430px) {
			max-width: 160px !important;
			margin: 0 5px 10px !important;
		}
		
		a {
			color: inherit !important;
			text-decoration: none !important;
		}

		.caf-song-artist {
			font-size: 75%;
			letter-spacing: 0.1em;
			margin-top: 5px;
			text-indent: (@letter-spacing/2);
			
			em {
				font-size: 70% !important;
				font-style: normal !important;
			}
		}
	}
	
	// Columns
	&.caf-nominees-1column {
		li {
			font-size: 22px !important;
			letter-spacing: .25em !important;
			margin: 0 auto 30px !important;
			max-width: 100% !important;
			text-indent: (@letter-spacing/2) !important;
			width: auto !important;
			
			img {
				max-width: initial;
			}
			
			@media (max-width: 700px), (max-width: 430px) {
				max-width: 98% !important;
				margin: @margin !important;
				overflow: hidden !important;
				
				img {
					position: relative;
					left: 50%;
					transform: translate(-50%, 0);
				}
			}
		}
	}
	&.caf-nominees-2column {
		li {
			margin: 0 9px 30px !important;
			max-width: 445px !important;
			width: 445px !important;
		}
			@media (max-width: 500px) {
				display: block !important;
				margin: 0 auto 20px !important;
			}
	}
	&.caf-nominees-3column {
		li {
			letter-spacing: 0.15em !important;
			margin: 0 9px 15px !important;
			max-width: 300px !important;
			text-indent: (@letter-spacing/2) !important;
			width: 300px !important;
			
			@media (max-width: 430px) {
				display: block !important;
				max-width: @max-width !important;
				margin: 0 auto 10px !important;
			}
		}
		
		.caf-cube {
			margin: 20px 15px 20px 5px !important;
		}
	}
	&.caf-nominees-5column {
		li {
			max-width: 180px !important;
			width: 180px !important;
		}
	}
	
	// Low tier nominees category
	&.caf-lowtier {
		padding-top: 0 !important;
		
		.caf-row-header {
			margin-bottom: 20px;
			margin-bottom: 4vh;
		}
		.caf-nominee-column {
			display: inline-block;
			margin: 0 13px;
			max-width: 472px;
		}
		li {
			display: block !important;
			font-size: 22px !important;
			letter-spacing: .01em !important;
			line-height: 0.96 !important;
			margin-bottom: 20px !important;
			text-align: center !important;
			text-indent: 0 !important;
			width: 100% !important;
		}
	}
}