.caf-outro {
	padding: 100px 10% !important;
	
	a {
		color: inherit !important;
		text-decoration: none !important;
		
		&:hover {
			color: inherit !important;
			text-decoration: none !important;

			span {
				border-bottom: 1px solid #EEE;
				border-bottom: 1px solid rgba(255,255,255,0.5);
			}
		}
	}
	
	h3, h4 {
		color: #fff !important;
		letter-spacing: 0.25em !important;
		line-height: 1 !important;
		margin: 20px auto !important;
		margin: 4vh auto !important;
		max-width: $module_max_width !important;
	}
	h3 {
		font-size: 22px !important;
		line-height: 1.25 !important;
		margin-bottom: 10% !important;
		
		@media (max-width: ($module_max_width+1)) {
			font-size: 20px !important;
		}
	}
	h4 {
		font-size: 18px !important;
		line-height: 1.2 !important;
		margin-bottom: 15px !important;
		
		@media (max-width: ($module_max_width+1)) {
			font-size: 15px !important;
		}
	}
	
	.caf-network_logo {
		max-width: 80px;
	}
}