.caf-outro {
	padding: 100px 10% !important;
	
	a {
		color: inherit !important;
		text-decoration: none !important;
		
		&:hover {
			color: inherit !important;
			text-decoration: none !important;

			span {
				border-bottom: 1px solid #EEE;
				border-bottom: 1px solid rgba(255,255,255,0.5);
			}
		}
	}
	
	h3, h4 {
		color: #fff;
		letter-spacing: 0.25em;
		line-height: 1;
		margin-left: auto;
		margin-right: auto;
		max-width: $module_width;
	}
	h3 {
		font-size: 22px;
		line-height: 1.25;
		margin-bottom: 10%;
	}
	h4 {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 15px;
	}
	
	.caf-network_logo {
		max-width: 80px;
	}
}