<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">\x3C/script>')</script>
<script
	src="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/120a1e7/dist/iframe/outer/js/base-min.js"
	id="CMLS_FEATURE"

	data-google-analytics-id="UA-########-##"
></script>
<link href="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/120a1e7/dist/iframe/outer/css/base.css" rel="stylesheet" type="text/css">
<iframe id="CMLS_TEMPLATE" style="display:none">
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>Cumulus</title>
			<link href="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/120a1e7/dist/iframe/inner/css/base.css" rel="stylesheet" type="text/css">
			<script src="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/120a1e7/dist/iframe/inner/js/base-min.js"></script>

			<!-- LOCAL STYLES HERE -->
			<style>

			</style>
			<!-- END LOCAL STYLES -->
		</head>
		<body>
			<base target="_parent">

			<div class="generic row header">
				<h1>
					<img src="whatever.jpg" class="logo" alt="Awards Show!">
				</h1>
			</div>

			<div class="generic row intro">
				<h2>Announcing the Nominees</h2>
			</div>

			<div class="generic row 5column">
				<h3>Top Artists</h3>
				<ul>
					<li>
						<img src="artist.jpg">
						Artist Name
					</li>
					<li>
						<img src="artist.jpg">
						Artist Name
					</li>
					<li>
						<img src="artist.jpg">
						Artist Name
					</li>
					<li>
						<img src="artist.jpg">
						Artist Name
					</li>
					<li>
						<img src="artist.jpg">
						Artist Name
					</li>					
				</ul>
			</div>

			<div class="generic row outro">
				<h3>
					<a href="http://showsite.com" target="_blank">
						Check out the complete list of nominees at
						<wbr>
						<span>showsite.com</span>
					</a>
				</h3>
				<h4>
					2018 Awards Show<br>
					Live Sunday Month 12 8|7c
				</h4>
				<img class="network-logo" src="network-logo.png" alt="Only on ABC">
			</div>
		</body>
	</html>
</iframe>