<!--

Encapsulate feature inside an iframe to fully isolate it
from the station site's styles and scripts!
HTML within the iframe tag will not be directly rendered,
instead javascript will inject it inside the iframe document.

-->

<!-- REMOVE BEFORE POSTING -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- END REMOVE BEFORE POSTING -->
<script
	src="https://cdn.jsdelivr.net/gh/cumulus-digital/cumulus-awards-feature@CHANGEME/dist/iframe/outer/js/base-min.js"
	id="CMLS_FEATURE"

	data-google-analytics-id="UA-########-##"
></script>
<link href="../../dist/iframe/outer/css/base.css" rel="stylesheet" type="text/css">
<iframe id="CMLS_TEMPLATE" style="display:none">
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>Cumulus</title>
			<link href="../../dist/iframe/inner/css/base.css" rel="stylesheet" type="text/css">
			<script src="https://cdn.jsdelivr.net/gh/cumulus-digital/cumulus-awards-feature@CHANGEME/dist/iframe/inner/js/base-min.js"></script>

			<!-- LOCAL STYLES HERE -->
			<link href="https://fonts.googleapis.com/css?family=Signika:300,400,700" rel="stylesheet">
			<style>
				body {
					font-family: 'Signika';
					font-weight: 300;
				}
			</style>
			<!-- END LOCAL STYLES -->
		</head>
		<body>
			<base target="_parent">

			<div class="generic row header">
				<div class="container">
					<h1>
						<img src="whatever.jpg" class="logo" alt="Awards Show!">
					</h1>
				</div>
			</div>

			<div class="generic row intro">
				<div class="container">
					<h2>Announcing the Nominees</h2>
				</div>
			</div>

			<div class="generic row nominees column5">
				<div class="container">
					<h3>Top Artists</h3>
					<ul>
						<li>
							<img src="artist.jpg">
							Artist Name
						</li>
						<li>
							<img src="artist.jpg">
							Artist Name
						</li>
						<li>
							<img src="artist.jpg">
							Artist Name
						</li>
						<li>
							<img src="artist.jpg">
							Artist Name
						</li>
						<li>
							<img src="artist.jpg">
							Artist Name
						</li>					
					</ul>
				</div>
			</div>

			<div class="generic row nominees lowtier">
				<div class="container">
					<div class="column">
						<h3>Female Vocalist of the Year</h3>
						<ul>
							<li>
								Kelsea Ballerini
							</li>
							<li>
								Miranda Lambert
							</li>
							<li>
								Reba McEntire
							</li>
							<li>
								Maren Morris
							</li>
							<li>
								Carrie Underwood
							</li>					
						</ul>
					</div>
					<div class="column">
						<h3>Male Vocalist of the Year</h3>
						<ul>
							<li>
								Jason Aldean
							</li>
							<li>
								Thomas Rhett
							</li>
							<li>
								Chris Stapleton
							</li>
							<li>
								Keith Urban
							</li>
							<li>
								Chris Young
							</li>					
						</ul>
					</div>
				</div>
			</div>

			<div class="generic row outro">
				<div class="container">
					<h3>
						<a href="http://showsite.com" target="_blank">
							Check out the complete list of nominees at
							<wbr>
							<span>showsite.com</span>
						</a>
					</h3>
					<h4>
						2018 Awards Show<br>
						Live Sunday Month 12 8|7c
					</h4>
					<img class="network-logo" src="network-logo.png" alt="Only on ABC">
				</div>
			</div>
		</body>
	</html>
</iframe>