<!-- FOR USE ON INDEPENDENT GALLERY PAGE WHICH IS THEN IFRAMED INTO FEATURE PAGE -->
<div data-iframe-height="true" stye="position:relative"></div>
<link href="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/CHANGEME/dist/css/gallerypage.css" rel="stylesheet" type="text/css">
<style>
	/* LOCAL STYLES */
	.cmls-gallery {
		height: 400px !important;
	}
	@media (max-width: 500px) {
		.cmls-gallery { zoom: 0.7; }
	}
</style>
<script>
/*
	// To override Slick gallery options, define options in window.SLICK_OPTIONS
	window.SLICK_OPTIONS = {
		...
	}
 */
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.contentWindow.min.js"></script>
<script src="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/CHANGEME/dist/js/gallerypage-min.js"></script>