<div class="caf-row caf-nominees caf-nominees-1column">
	<h3 class="caf-section-header">Top Artists</h3>
	<ul>
		<!-- BE SURE TO ADD caf-with_cube TO caf-nominees CONTAINER IF USING CUBE! -->
		<!--
		<li class="caf-cube">
			<div id='div-gpt-ad-1418849849333-0'>
				<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-1418849849333-0'); });
				</script>
			</div>
		</li>
		-->
		<li>
			<img src="artist.jpg">
			Artist Name
		</li>
		<li>
			<img src="artist.jpg">
			Artist Name
		</li>
		<li>
			<img src="artist.jpg">
			Artist Name
		</li>
		<li>
			<img src="artist.jpg">
			Artist Name
		</li>
	</ul>
</div>