<div class="caf-row caf-nominees caf-lowtier">
	<div class="caf-nominee-column">
		<h5 class="caf-row-header">Category Name</h5>
		<ul>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
		</ul>
	</div>
	<div class="caf-nominee-column">
		<h5 class="caf-row-header">Category Name</h5>
		<ul>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
			<li>
				Artist Name
			</li>
		</ul>
	</div>
</div>