<script type="text/javascript" id="CMLS_FEATURE_ID">
/**
 * Add an identifier to the parent column so we can work with JUST our content.
 */
(function($, window, undefined){
	var tag = $('#CMLS_FEATURE_ID');
	if (tag) {
		tag.parentsUntil('.wrapper-content','.column,.row,.block-type-content').addClass('CMLS_FEATURE_CONTENT');
	}
}(jQuery, window));
</script>

<link href="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/CHANGEME/dist/css/base.css" rel="stylesheet" type="text/css">
<style>
	/* LOCAL STYLES */

</style>

<script src="https://cdn.rawgit.com/cumulus-digital/cumulus-awards-feature/CHANGEME/dist/js/base.js"></script>
<script>
(function($, window, undefined){
	window.installGoogleAnalytics('CHANGEME');
}(jQuery, window));
</script>