<div class="caf-video">
	<div class="caf-video-container">
		<!-- BE SURE TO ADD caf-with_cube TO caf-nominees CONTAINER IF USING CUBE! -->
		<!--
		<div class="caf-cube">
			<div id='div-gpt-ad-1418849849333-0'>
				<script type='text/javascript'>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-1418849849333-0'); });
				</script>
			</div>
		</div>
		-->
		<div class="fitvidsignore caf-embed-container">
			<iframe src="https://www.youtube-nocookie.com/embed/YOUTUBEID?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;playsinline=1&amp;autohide=1" frameborder="0" allowfullscreen="" class="fitvidsignore"></iframe>
		</div>
	</div>
</div>