@import 'nib';

.themify_builder_turn_on {
	display: none !important;
}

body .wrapper-content {
	
	.column,
	.row,
	.column > *,
	.module-title,
	.themify_builder_row .widgettitle,
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.hideme {
		display: none !important;
	}
	
	&,
	.grid-container,
	/.CMLS_CCC,
	/.CMLS_CCC > div,
	/.CMLS_CCC > article,
	/.CMLS_CCC .entry-content,
	/.CMLS_CCC .themify_builder_row {
		border: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
		width: 100% !important;
	}
	
	.CMLS_CCC {
	}
}

/.CMLS_CCC {

	display: block !important;

	&, * {
		box-sizing: border-box !important;
		line-height: 1 !important;
	}
	
	iframe {
		display: inherit !important;
	}

}