@import 'nib';

.themify_builder_turn_on {
	display: none !important;
}

body .wrapper-content {
	#comments,
	article > header,
	article > footer,
	.entry-title,
	.entry-meta,
	.post-thumbnail,
	.themify_builder_row .widgettitle,
	.hideme {
		display: none !important;
	}
	
	/.CMLS_CCC {
		display: block !important;
		
		.entry-content {
			margin-top: 0 !important;
		}
		
		// Remove extra space under contest iframe
		iframe[src*="digitalivy.com"] {
			display: inherit;
		}
	}
}
