@require 'base.styl'

body .wrapper-content {
	.column,
	.row,
	.column > *,
	.module-title {
		display: none !important;
	}

	&,
	.grid-container,
	/.CMLS_CCC,
	/.CMLS_CCC > div,
	/.CMLS_CCC > article,
	/.CMLS_CCC .entry-content,
	/.CMLS_CCC .themify_builder_row {
		border: 0 !important;
		margin: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
	}

	/.CMLS_CCC {
		/.CMLS_CCC {
			display: block;
			
			&, * {
				line-height: 1 !important;
				margin: 0 !important;
				padding: 0 !important;
			}
			
			iframe {
				display: inherit !important;
			}
			iframe[width="100%"] {
				width: 0;
				min-width: 100%;
			}
		}
	}

}